# 작업형 1 유형

In [4]:
import pandas as pd

df = pd.read_csv('./yemoonsaBigdata/datasets/Part3/501_trash_bag.csv', encoding='cp949')

In [23]:
test_df = df[(df.용도 == '음식물쓰레기')&(df.사용대상=='가정용')&(df['2L가격']!=0)]
avg_price = int(test_df['2L가격'].mean())
print(avg_price)

119

In [26]:
df = pd.read_csv('./yemoonsaBigdata/datasets/Part3/502_bmi.csv')
df

     Gender  Height  Weight
0      Male     174      96
1      Male     189      87
2    Female     185     110
3    Female     195     104
4      Male     149      61
..      ...     ...     ...
495  Female     150     153
496  Female     184     121
497  Female     141     136
498    Male     150      95
499    Male     173     131

[500 rows x 3 columns]

In [40]:
df['BMI'] = df['Weight']/((df['Height']/100)**2)
over_weight = df[(df['BMI']<25)&(df['BMI']>=23)]
normal_weight = df[(df['BMI']<23)&(df['BMI']>=18.5)]
print(abs(len(over_weight) - len(normal_weight)))

28

In [41]:
import pandas as pd

df = pd.read_csv('./yemoonsaBigdata/datasets/Part3/503_students.csv', encoding='cp949')
df

   학교  학년  총 전입학생  총 전출학생  전체 학생 수
0   A   1       9       1      222
1   A   2      13       4      148
2   A   3       8       7      196
3   B   1       7       5      171
4   B   2       9       1      216
5   B   3       6       3      201
6   C   1       3       1      220
7   C   2       0       5      158
8   C   3       2       8      150
9   D   1       2       4      202
10  D   2       3       0      163
11  D   3       7       1      183
12  E   1      12       3      238
13  E   2       3       3      165
14  E   3       7       2      200
15  F   1       1       6      164
16  F   2      10       9      145
17  F   3       6       1      172
18  G   1       4       4      200
19  G   2       8       2      227
20  G   3       5       1      191
21  H   1       6       5      220
22  H   2       7       4      203
23  H   3       4       9      179

In [71]:
df['순전입학생'] = df['총 전입학생'] - df['총 전출학생']
sort_school = df.groupby('학교').sum()
sort_school = sort_school.sort_values(by = '순전입학생', ascending = False)
members = sort_school['전체 학생 수'][0]
print(members)

566

# 작업형 2유형

In [108]:
# 출력을 원하실 경우 print() 함수 활용
# 예시) print(df.head())

# getcwd(), chdir() 등 작업 폴더 설정 불필요
# 파일 경로 상 내부 드라이브 경로(C: 등) 접근 불가

# 데이터 파일 읽기 예제
import pandas as pd
X_test = pd.read_csv("yemoonsaBigdata/datasets/Part3/504_x_test.csv")
X_train = pd.read_csv("yemoonsaBigdata/datasets/Part3/504_x_train.csv")
y_train = pd.read_csv("yemoonsaBigdata/datasets/Part3/504_y_train.csv")

# 사용자 코딩

# 답안 제출 참고
# 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
# pd.DataFrame({'index': X_test.index, 'y_pred': pred}).to_csv('003000000.csv', index=False)

In [99]:
X_train

        id model  year transmission  mileage fuelType  tax   mpg  engineSize
0        1    A1  2019    Automatic     3500   Petrol  145  40.9         2.0
1        2   RS4  2020    Semi-Auto     2500   Petrol  145  28.8         2.9
2        3    A8  2019    Semi-Auto      500   Diesel  145  40.4         3.0
3        4    Q5  2019    Semi-Auto     5089   Diesel  150  38.2         2.0
4        5    A5  2020    Semi-Auto     4951   Diesel  145  51.4         2.0
...    ...   ...   ...          ...      ...      ...  ...   ...         ...
7463  7464    A3  2016       Manual    22633   Petrol   30  58.9         1.4
7464  7465    Q2  2017       Manual    13272   Diesel  145  64.2         1.6
7465  7466    A1  2019    Semi-Auto     5000   Petrol  145  40.9         2.0
7466  7467    Q3  2019       Manual       10   Diesel  145  42.8         2.0
7467  7468    Q7  2012    Automatic    91229   Diesel  300  39.2         3.0

[7468 rows x 9 columns]

In [100]:
#결측치 확인 
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7468 entries, 0 to 7467
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            7468 non-null   int64
 1   model         7468 non-null   object
 2   year          7468 non-null   int64
 3   transmission  7468 non-null   object
 4   mileage       7468 non-null   int64
 5   fuelType      7468 non-null   object
 6   tax           7468 non-null   int64
 7   mpg           7468 non-null   float64
 8   engineSize    7468 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 525.2+ KB

In [101]:
#이상치확인
X_train.describe()
#엔진사이즈확인

,id,year,mileage,tax,mpg,engineSize
count,7468.000000,7468.000000,7468.000000,7468.000000,7468.000000,7468.000000
mean,3734.500000,2017.084762,24978.337306,125.513524,50.980704,1.923741
std,2155.970238,2.143985,23408.243740,66.791388,12.781446,0.594344
min,1.000000,1998.000000,1.000000,0.000000,19.300000,0.000000
25%,1867.750000,2016.000000,6000.000000,125.000000,40.900000,1.500000
50%,3734.500000,2017.000000,19276.500000,145.000000,50.400000,2.000000
75%,5601.250000,2019.000000,36722.750000,145.000000,58.900000,2.000000
max,7468.000000,2020.000000,168017.000000,580.000000,188.300000,6.300000

In [102]:
y_tain = y_train[X_train.engineSize != 0]
X_train = X_train[X_train.engineSize != 0]

In [103]:
X_train = X_train.reset_index(drop=True)
y_train = y_train.reset_index(drop=True)

In [104]:
X_train

        id model  year transmission  mileage fuelType  tax   mpg  engineSize
0        1    A1  2019    Automatic     3500   Petrol  145  40.9         2.0
1        2   RS4  2020    Semi-Auto     2500   Petrol  145  28.8         2.9
2        3    A8  2019    Semi-Auto      500   Diesel  145  40.4         3.0
3        4    Q5  2019    Semi-Auto     5089   Diesel  150  38.2         2.0
4        5    A5  2020    Semi-Auto     4951   Diesel  145  51.4         2.0
...    ...   ...   ...          ...      ...      ...  ...   ...         ...
7426  7464    A3  2016       Manual    22633   Petrol   30  58.9         1.4
7427  7465    Q2  2017       Manual    13272   Diesel  145  64.2         1.6
7428  7466    A1  2019    Semi-Auto     5000   Petrol  145  40.9         2.0
7429  7467    Q3  2019       Manual       10   Diesel  145  42.8         2.0
7430  7468    Q7  2012    Automatic    91229   Diesel  300  39.2         3.0

[7431 rows x 9 columns]

In [109]:
#변수 분류
COL_DEL = ['id']
COL_NUM = ['year', 'mileage', 'tax', 'mpg', 'engineSize']
COL_CAT = ['model', 'transmission', 'fuelType']
COL_Y = ['price']

In [110]:
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train[COL_NUM+COL_CAT]
                                            , y_train[COL_Y].values.ravel()
                                            , test_size=0.3)

In [111]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_tr[COL_NUM])

X_tr[COL_NUM] = scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM] = scaler.transform(X_val[COL_NUM])
X_test[COL_NUM] = scaler.transform(X_test[COL_NUM])

In [112]:
X_tr[COL_NUM]

          year   mileage       tax       mpg  engineSize
6347  0.430014 -0.849544  0.286385 -0.109666   -0.881307
104   0.899260 -1.069274  0.286385 -0.867182    0.125158
3107 -0.508476 -0.190142  0.286385  0.423687    0.125158
5732 -0.039231 -0.469633  0.286385  1.134825    0.125158
5192  0.430014 -0.271414  0.286385 -0.047828   -0.881307
...        ...       ...       ...       ...         ...
3483 -1.916212  1.323963 -1.879510  1.799584   -0.545819
6735 -0.039231 -0.448897  0.286385  0.099038    1.802601
6751 -0.508476 -0.418329  0.361071 -0.241072   -0.881307
6505 -0.039231 -0.295628  0.286385 -0.047828   -0.881307
611   0.899260 -0.956318  0.286385 -1.462373    0.125158

[5227 rows x 5 columns]

In [113]:
from sklearn.preprocessing import LabelEncoder

X=pd.concat([X_train[COL_CAT],X_test[COL_CAT]])

for _col in COL_CAT:
    le = LabelEncoder()
    le.fit(X[_col])
    X_tr[_col] = le.transform(X_tr[_col])
    X_val[_col] = le.transform(X_val[_col])
    X_test[_col] = le.transform(X_test[_col])

    print(_col)
    print(le.classes_)

model
[' A1' ' A2' ' A3' ' A4' ' A5' ' A6' ' A7' ' A8' ' Q2' ' Q3' ' Q5' ' Q7'
 ' Q8' ' R8' ' RS3' ' RS4' ' RS5' ' RS6' ' RS7' ' S3' ' S4' ' S5' ' S8'
 ' SQ5' ' SQ7' ' TT']
transmission
['Automatic' 'Manual' 'Semi-Auto']
fuelType
['Diesel' 'Hybrid' 'Petrol']

In [118]:
from sklearn.ensemble import RandomForestRegressor
modelRF = RandomForestRegressor(random_state=123)
modelRF.fit(X_tr, y_tr)

from xgboost import XGBRegressor
modelXGB = XGBRegressor(objective = 'reg:squarederror', random_state=123)
modelXGB.fit(X_tr,y_tr)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=123, ...)

In [126]:
y_val_predRF = modelRF.predict(X_val)
y_val_predXGB = modelXGB.predict(X_val)

In [127]:
from sklearn.metrics import mean_squared_error
import numpy as np

def cal_rmse(actual, pred):
    return np.sqrt(mean_squared_error(actual, pred))

scoreRF = cal_rmse(y_val, y_val_predRF)
scoreXGB = cal_rmse(y_val, y_val_predXGB)

print(f'RF score : {scoreRF}')
print(f'XGB score : {scoreXGB}')

RF score : 2556.234283285631
XGB score : 2490.476872585639

In [128]:
def get_scores(model, X_tr, X_val, y_tr, y_val):
    y_tr_pred = model.predict(X_tr)
    y_val_pred = model.predict(X_val)
    tr_score = cal_rmse(y_tr, y_tr_pred)
    val_score = cal_rmse(y_val, y_val_pred)

    return tr_score,val_score

In [129]:
get_scores(modelRF, X_tr, X_val, y_tr, y_val)

(1021.3206958175058, 2556.234283285631)

In [130]:
get_scores(modelXGB, X_tr, X_val, y_tr, y_val)

(1242.3510809236825, 2490.476872585639)

In [136]:
modelXGB2 = XGBRegressor(objective = 'reg:squarederror', n_estimators = 50, max_depth =5, min_child_weight = 2, random_state=123)
modelXGB2.fit(X_tr, y_tr)

modelXGB3 = XGBRegressor(objective = 'reg:squarederror', n_estimators = 50, max_depth =10, min_child_weight = 2, random_state=123)
modelXGB3.fit(X_tr, y_tr)

modelXGB4 = XGBRegressor(objective = 'reg:squarederror', n_estimators = 100, max_depth =5, min_child_weight = 1, random_state=123)
modelXGB4.fit(X_tr, y_tr)

modelXGB5 = XGBRegressor(objective = 'reg:squarederror', n_estimators = 100, max_depth =10, min_child_weight = 2, random_state=123)
modelXGB5.fit(X_tr, y_tr)

print('XGBoost2 \t-', get_scores(modelXGB2, X_tr, X_val, y_tr, y_val))
print('XGBoost3 \t-', get_scores(modelXGB3, X_tr, X_val, y_tr, y_val))
print('XGBoost4 \t-', get_scores(modelXGB4, X_tr, X_val, y_tr, y_val))
print('XGBoost5 \t-', get_scores(modelXGB5, X_tr, X_val, y_tr, y_val))

XGBoost2 	- (1791.7866669800744, 2453.8705646506883)
XGBoost3 	- (867.5373626221714, 2571.8244545186526)
XGBoost4 	- (1509.3950971037589, 2423.1593007578635)
XGBoost5 	- (588.0463526085083, 2604.930748979905)

In [137]:
pred = modelXGB4.predict(X_test[COL_NUM+COL_CAT])
result = pd.DataFrame({'id': X_test.id, 'price': pred})
print(result.head())

     id         price
0  7469  30881.123047
1  7470  17415.445312
2  7471  34521.058594
3  7472  15665.720703
4  7473  15336.461914